input {
    file {
    path => "{{ document_root }}{{ vhost_name }}/wp-content/debug.log"
    start_position => "beginning"
    }
}
filter {
    grok {
    match => [
        "message", "\[%{MONTHDAY:day}-%{MONTH:month}-%{YEAR:year} %{TIME:time} %{WORD:zone}\] PHP %{DATA:level}\:  %{GREEDYDATA:error}"
      ]
}
# mutate {
#     # add_field => [ "timestamp", "%{year}-%{month}-%{day} %{time}" ]
#     remove_field => [ "zone", "month", "day", "time" ,"year"]
# }
# date {
#     match => [ "timestamp" , "yyyy-MMM-dd HH:mm:ss" ]
#     remove_field => [ "timestamp" ]
# }
}
output {
elasticsearch {
 hosts => ["localhost:9200"]
 index => "{{ kibana_index_name }}%{+YYYY.MM.dd}"
}
}