input {
    file {
    path => "{{ document_root }}{{ vhost_name }}/wp-content/debug.log"
    start_position => "beginning"
    codec => multiline {
            pattern => "^\["
            negate => true
            what => "previous"
        }
    }
}
filter {
    grok {
    match => [
        "message", "\[%{MONTHDAY:day}-%{MONTH:month}-%{YEAR:year} %{TIME:time} %{WORD:zone}\] PHP %{DATA:level}\:  %{GREEDYDATA:error}"
      ]
    }
    
    mutate {
         add_field => [ "timestamp", "%{day}-%{month}-%{year} %{time}" ]
         remove_field => [ "zone", "month", "day", "time" ,"year"]
    }

    date {
        match => [ "timestamp" , "dd-MMM-yyyy HH:mm:ss" ]
        remove_field => [ "timestamp" ]
    }

}
output {
elasticsearch {
 hosts => ["localhost:9200"]
 index => "{{ vhost_name }}-%{+YYYY.MM.dd}"
}
}